body{
    font-family: 'Inter', sans-serif;
    background-color: #F8F9Fa;
}

.active-nav{
    font-weight: 600;
    border-bottom: 3px solid#fff;
}

.modal-center{
    animation: fadeIn 0.3s case-out forwards;
}

@keyframes fadeIn {
    from{opacity:0; transform:scale(0.95);}
    to{opacity: 1; transform:scale(1);}
}